
.filter-form {
  height: 1000px;
  width: 1000px;
  border: solid 1px gold;
  overflow: auto;
}
.filter-item {
  background: gold;
  height: 30px;
  padding: 5px 10px;
  color: black;
  border-bottom: solid 1px goldenrod;
}
.filter-options {

  display: flex;
  margin-bottom: 20px;
}
.filter-option {
  margin: 0 10px;
}
label, select {
  margin-right: 10px;
}